.full-cta {
    border-radius: $border-radius;
    padding: 63px 15px 62px;
    text-align: center;
    color: $white;
    width: 100%;
    position: relative;
    overflow: hidden;

    @include breakpoint(small) {
        padding: 37px 40px 32px;
    }

    @include breakpoint(iPhone5) {
        padding: 35px 20px 32px;
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0.3;
        background-image: linear-gradient(to bottom, $black 30%, rgba(0, 0, 0, 0) 87%);
        z-index: 1;
        pointer-events: none;
        border-radius: $border-radius;
    }

    h2 {
        color: $white;
        margin-bottom: 15px;
        line-height: 1.23;
    }

    p {
        color: $white;
        font-family: $font-primary;
        // margin-bottom: 27px;
        max-width: 543px;
        margin: 0 auto;
        font-weight: 600;

        @include breakpoint(small) {
            font-size: 12px;
        }

        br {
            @include breakpoint(small) {
                display: none;
            }
        }
    }

    .button-wrap {
        margin-top: 31px;

        @include breakpoint(small) {
            margin-top: 27px;
        }
    }

    .btn-link {
        min-width: inherit;

        img {
            width: 20px;
            height: 20px;
            margin-left: 5px;
            position: relative;
            @include transition(0.4s);
            left: 0;
        }

        &:hover {
            color: $white !important;

            img {
                left: 7px;
            }
        }
    }

    .nest-inside {
        position: relative;
        z-index: 1;
    }
}