//theme fonts vars

$font-family-base: 'Nunito', sans-serif;
$font-primary: 'Nunito', sans-serif;
$font-secondary: 'Poppins', sans-serif;
$font-tertiary: "rollerscript-smooth";


//theme colors vars
$white: #ffffff;
$black: #000000;

$dark_pink: #F57DC3;
$light_pink: rgba($dark_pink, 0.3); // rgba(245,125,195,.3)
$medium_pink: rgba($dark_pink, 0.6);; //ec5e9b


$brick: #9b2e29;
$grey-light: #ececec;
$grey-paragraph: #4a4e4b;
$grey-readymix: #8b8d8e;
$grey-lighter: #fafafa;
$light_grey: #e7e7e7;
$light_bg_cream: #FCF7F9;

$dark_cyan: #048a8b;

$color_heading: #1d221e;
$color_text: #000000;
$color_text_primary: #3B3B3B;

$border-radius: 5px;